
.legend-form {
  padding: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding-top: 50px; /*use*/
  position: relative;
  display: fixed;
  margin-left: 30px;
  margin-bottom: 40px;
  height: 980px;
  width: 965px;
  margin-top: 73px;
}

.legend-title {
  font-size: 1.1em;
  font-weight: 500;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-top: 60px; /*use*/
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: absolute;
  top: 3.5%;
  left: 50%;
  right: -38%;
  transform: translate(-50%, -50%);
  
}

.legend-subtitle {
  font-size: 1.2em;
  font-weight: 400;
  border-bottom: 0px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 13.99%;
  left: 9.7%;
  transform: translate(-50%, -50%);
  color: rgb(117, 117, 117);
}

.legend-items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 13px;
  margin-right: 1px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-top: 75px;
  margin: 20px;
  margin-right: 30px;
  font-size: 22px;
}

.legend-color-block {
  width: 60px;
  height: 50px;
  margin: 13px;
  margin-top: 40px;
  margin-bottom: 38px;
  border: 1px solid rgb(117, 117, 117);
}

.open-color {
  background-color: rgb(255, 255, 255);
}

.walls-color {
  background-color: grey;
}

.robot-color {
  background-color: green;
}

.end-color {
  background-color: red;
}

.moves-subtitle {
  font-size: 1.2em;
  border-bottom: 0px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 64.9%;
  left: 9.3%;
  transform: translate(-50%, -50%);
  color: rgb(117, 117, 117);
}

.move1-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move2-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move3-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move4-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move5-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move6-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}

.move7-subtitle {
  font-size: 1rem;
  position: absolute;
  color: rgb(117, 117, 117);
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
  position: absolute;
  top: 68.9%;
  left: 14.3%;
  
  transform: translate(-50%, -50%);
  
}
