
.settings-container {
    position: absolute;
    top: 100px;
    right: -155px;

}

.settings-form {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    padding: 60px;
    border-radius: 10px;
    margin-right: 50px; 
    margin-bottom: 20px;
    margin-left: -1px;
    height: 355px;
    margin-top: -35px; 
    width: 100%;
    left: 3;
}


.settings-title {
    font-size: 1.1em;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    color: rgb(117, 117, 117);
}

.settings-divider {
    border-bottom: 1px;
    margin-bottom: 20px;
}

.settings-select {
    margin-bottom: 10px;
    width: 100%;
}

.settings-maxIt {
    margin-bottom: 15px;
}

.settings-runButton {
    margin-top: 2px;
    text-align: right;
}

.settings-button,
.btn-primary {
    font-weight: 600;
    color: #ffffff;
    background-color: #6f44e4; /* violet color */
    border-color: #6f44e4;
    border-radius: 0.5rem;
    width: 100%; /* Set the width to 100% to make it full width */
}

.settings-button:hover,
.btn-primary:hover {
    color: #ffffff;
    background-color: #6a45cf;
    border-color: #6f44e4;
}

